/* src/components/Home.css */

.home-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/dashboard.jpg'); /* Correct path to the image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  